
<div>
	<h2>Register as a Lender</h2>

	<form action="/lenders" method="POST">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<p><label>First Name:<input type="text" name="lender[first_name]"></label></p>
		<p><label>Last Name:<input type="text" name="lender[last_name]"></label></p>
		<p><label>Email:<input type="text" name="lender[email]"></label></p>
		<p><label>Password:<input type="text" name="lender[password]"></label></p>
		<p><label>Password Confirmation:<input type="text" name="lender[password_confirmation]"></label></p>
		<p><label>Money:<input type="number" name="lender[money]"></label></p>
		<input type="submit" value="Register">
	</form>
<a href="/">Already a member?</a>	
</div>

<div>
	<h2>Register as a Bower</h2>

	<form action="/borrowers" method="POST">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<p><label>First Name:<input type="text" name="borrower[first_name]"></label></p>
		<p><label>Last Name:<input type="text" name="borrower[last_name]"></label></p>
		<p><label>Email:<input type="text" name="borrower[email]"></label></p>
		<p><label>Password:<input type="password" name="borrower[password]"></label></p>
		<p><label>Password Confirmation:<input type="password" name="borrower[password_confirmation]"></label></p>
		<p><label>Need Money For:<input type="text" name="borrower[purpose]"></label></p>
		Description: <textarea name="borrower[description]"></textarea>
		<p><label>Money:<input type="number" name="borrower[money]"></label></p>
		<input type="submit" value="Register">
	</form>

	<a href="/">Already a member?</a>

</div>