<form>
	<label>Name <input type="text" name="user[name]"></label>
	<label>Email <input type="text" name="user[email]"></label>
	<label>Password <input type="password" name="user[password]"></label>
	<label>Password Confirmation <input type="password" name="user[password_confirmation]"></label>
</form>